.footer{
    position: relative;
    z-index: 2;
    a {
        color: $white;
    }
    &__wrapper {
        background-image: url(../img/bg-1.jpg);
        background-color: $black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding: 70px 0;
        color: $white;
        position: relative;
        p {
            color: $white;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $black;
            background: linear-gradient(0deg, rgba($black,0.5) 0%, rgba($black,0) 100%);
            z-index: 1;
        }
    }
    &__followus {
        margin-bottom: 20px;
        &__title {
            letter-spacing: 2px;
            text-transform: uppercase;
            @include font-size(18px);
            margin-bottom: 30px;
        }
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                margin: 0 7px;
                a {
                    color: $white;
                    padding: 15px;
                    display: block;
                    background-color: rgba($white, 0.2);
                }
                [class^="icon-"], [class*=" icon-"] {
                    display: block;
                    @include font-size(22px);
                    @include line-height(22px);
                }
            }
        }
    }
    &__links {
        .logo {
            max-width: 100px;
        }
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: $roboto;
            a, p {
                @include font-size(14px);
                @include line-height(18px);
            }
            > li {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
}