.banner {
    height: 100vh;
    max-height: 440px;
    p {
        color: $white;
    }
    > .row {
        height: 100%;
    }
    &__wrapper {
        background: $accent-2;
        color: $white;
        z-index: 1;
        .section {
            &__container {
                background-color: transparent;
                &--outer--xxl {
                    background-color: transparent;
                }
                &--outer {
                    background-color: transparent;
                }
                &--inner {
                    background-color: transparent;
                }
            }
        }
    }
    &__image {
        position: absolute;
        max-width: 1020px;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        &--with {
            &-filter {
                &:before {
                    content: "";
                    background: rgba($black, 0.3);
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
	@include screen('small') {
        height: auto;
        max-height: 100%;
        &__image {
            position: relative;
            width: 80%;
            margin: 0 auto;
        }
        &__wrapper {
            .section {
                &__next {
                    display: none;
                }
                &__container{
                    &--with-next {
                        padding-top: 40px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
	}
}